
<div id="Popup" style="z-index:100;display:none; position:fixed; top:50%; left:50%;transform: translate(-50%, -50%); width:60%; background:#fff; border:1px solid #ccc; padding:20px; box-shadow:0 0 10px #000;">
    <form method="post" id="Form">
        <input type="hidden" name="Id" />
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px;max-width: 800px;">
            <div style=" display: flex;flex-direction: column; margin-bottom: 12px;">
                <label>Mã sản phẩm <span style="color:red">*</span></label>
                <input class="form-control" required type="text" name="ProductCode" />
            </div>
            <div style=" display: flex; flex-direction: column; margin-bottom: 12px;">
                <label>Tên sản phẩm <span style="color:red">*</span></label>
                <input class="form-control" required type="text" name="ProductName" />
            </div>
            <div style=" display: flex;flex-direction: column; margin-bottom: 12px;">
                <label>Đơn vị <span style="color:red">*</span></label>
                <input class="form-control" required type="text" name="Unit" />
            </div>
            <div style=" display: flex; flex-direction: column; margin-bottom: 12px;">
                <label>Qui cách <span style="color:red">*</span></label>
                <input class="form-control" required type="text" name="Specification" />
            </div>
            <div style=" display: flex;flex-direction: column; margin-bottom: 12px;">
                <label>Só lượng/Thùng <span style="color:red">*</span></label>
                <input class="form-control" required type="text" name="QuantityPerBox" />
            </div>
            <div style=" display: flex; flex-direction: column; margin-bottom: 12px;">
                <label>Trọng lượng <span style="color:red">*</span></label>
                <input class="form-control" required type="text" name="ProductWeight" />
            </div>
        </div>
        <div style=" margin-top: 16px; display: flex; justify-content: flex-end; gap: 8px;">
            <button class="btn btn-sm btn-success" type="button" onclick="hidePopup('Popup')">Đóng</button>
            <button class="btn btn-sm btn-success" type="submit" id="submitButton">Thêm</button>
        </div>
    </form>
</div>


